// color
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: rgb(88, 88, 88);

// fonts
$font-radikal: 'radikal_regular', sans-serif;
$font-radikal-light: 'radikal_light', sans-serif;
$font-radikal-medium: 'radikal_medium', sans-serif;
$font-radikal-bold: 'radikal_bold', sans-serif;
$font-radikal-black: 'radikal_black', sans-serif;

// Path
$path-fonts: 'assets/fonts'; // path #{$path-fonts}
$path-images: 'assets/img'; // path #{$path-images}