{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="section">
			<div class="columns is-multiline">
				<h2>Sorry, we couldn't find what you're looking for.</h2>
			</div>
		</div>
	</div>
{% endblock %}